# Creating & calling functions

In [4]:
# writing my first function
def printInfo(): #defines what the function does when called
    print("Name: John Smith")
    print("Age: 45")
printInfo() #calls the function to run
printInfo() #calls the function again

Name: John Smith
Age: 45
Name: John Smith
Age: 45

In [10]:
# performing a calculation in a function
def calc():
    x, y = 5, 10
    print(x + y)
calc() #will run the block of code within calc and output 15

15

In [12]:
def myName():
    print("Name: Todd Taylor")
myName()

Name: Todd Taylor

## Parameters

In [19]:
# passing a single parameter into a function
def printName(full_name):
    print('Your name is: {}'.format(full_name))
printName('Todd')
printName('Amanda')

Your name is: Todd
Your name is: Amanda

In [23]:
# passing multiple parameters into a function
def addNums(x, y):
    result = x + y
    print('{} + {} = {}'.format(x, y, result))
addNums(5, 8)
addNums(3.5, 5.5)

5 + 8 = 13
3.5 + 5.5 = 9.0

In [25]:
# using a function to square all information
numbers1 = [2, 4, 5, 10]
numbers2 = [1, 3, 6]
def squares(nums):
    for num in nums:
        print(num**2)
squares(numbers1)
squares(numbers2)

4
16
25
100
1
9
36

In [31]:
# setting default parameter values and making them optional
def full_name(first, last, middle =''):
    if middle:
        print('{}{}{}'.format(first, middle, last))
    else:
        print('{}{}'.format(first, last))
printName('John Smith')
printName('John Smith Paul')

Your name is: John Smith
Your name is: John Smith Paul

In [33]:
# explicitly assigning values to parameters by referencing the name
def addNums(num1, num2):
    print(num2)
    print(num1)
addNums(5, num2=2.5)

2.5
5

In [39]:
# using args parameter to take in a tuple of arbitrary values
def outputData(name, *args):
    print(type(args))
    for arg in args:
        print(arg)
outputData('John Smith', 5, True, 'Jess')

<class 'tuple'>
5
True
Jess

In [43]:
# using kwargs parameter to take in a dictionary of arbitrary values
def outputData(**kwargs):
    print(type(kwargs))
    print(kwargs['name'])
    print(kwargs['num'])
outputData(name = 'John Smith', num = 5, b=True)

<class 'dict'>
John Smith
5